* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    background: #FFF5EE;
    position: relative;
}

/* === ART SHAPES === */
.art1,
.art7 {
    width: 230px;
    height: 230px;
    background: #ff6f47;
    border-radius: 50%;
    position: absolute;
}

.art1 {
    top: 240px;
    right: 290px;
    z-index: 1;
}

.art2 {
    position: absolute;
    top: -2%;
    right: 230px;
    width: 350px;
    height: 200px;
    background: #4fd1c5;
    border-radius: 100px 100px 0 0;
    rotate: 270deg;
}

.art3 {
    position: absolute;
    top: -5%;
    right: 0;
    width: 300px;
    height: 280px;
    background: #111;
    border-radius: 150px;
}

.art5,
.art6 {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #000;
}

.art5 {
    top: 250px;
    right: 130px;
    width: 160px;
    height: 160px;
}

.art6 {
    top: 192px;
    right: 10px;
    width: 280px;
    height: 280px;
}

.art7 {
    top: 47%;
    right: 100px;
}

.art8 {
    position: absolute;
    top: 53.5%;
    left: 23%;
    width: 300px;
    height: 100px;
    background: #4fd1c5;
    border-radius: 100px 100px 0 0;
    rotate: 90deg;
}

.art9 {
    position: absolute;
    top: 60%;
    left: 25%;
    width: 200px;
    height: 200px;
    background: purple;
    border-radius: 150px;
}

/* === SHAPES === */
.shapes1,
.shapes2,
.shapes3,
.shapes4 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
}

.shapes1 {
    box-shadow: 0 0 50px 100px #00ccff1a;
    background: #00e1ff1a;
    top: 15%;
    left: 65%;
}

.shapes2 {
    box-shadow: 0 0 50px 100px #ff99001a;
    background: #ff99001a;
    top: 30%;
    left: 65%;
}

.shapes3 {
    box-shadow: 0 0 50px 100px #ff66001a;
    background: #ff66001a;
    top: 0;
    left: 0;
}

.shapes4 {
    box-shadow: 0 0 50px 100px #ff99001a;
    background: #ff99001a;
    top: 70%;
    right: 0;
}

/* === MAIN LAYOUT === */
.container {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

header {
    margin-bottom: 60px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    width: 700px;
    margin-top: 10%;
}

.content h1 {
    font-size: 100px;
    margin-bottom: 25px;
    line-height: 1;
    width: 150%;
}

.content p {
    width: 800px;
    line-height: 25px;
    color: #636363;
    margin-bottom: 300px;
    font-weight: bold;
}

.Info {
    background: #000020;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 0;
    padding: 20px 50px;
    box-shadow: 0 0 30px 1px #ff6030;
    z-index: -1;
}

.premium_EQ {
    width: 350px;
    background: #ff6030;
    border-radius: 10px;
    padding: 50px;
    color: black;
    transform: translate(-50px, 100px);
}

.premium_EQ h2 {
    font-size: 34px;
    margin-bottom: 30px;
}

.premium_EQ #text {
    width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
}

.value {
    display: flex;
    align-items: center;
    gap: 10px;
}

.value #dollar {
    font-size: 50px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons #ios,
.buttons #Android {
    border-radius: 7px;
    padding: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.buttons #ios {
    background: #000020;
    color: white;
}

.buttons #ios:hover {
    background: white;
    color: black;
    cursor: pointer;
}

.buttons #Android:hover {
    background: #000020;
    color: white;
    cursor: pointer;
}

.image {
    transform: translate(80px, -150px);
    position: relative;
}

.image img {
    height: 600px;
    width: 300px;
    display: block;
    z-index: 2;
}

/* === FOOTER === */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-bottom: 45px;
}

footer p {
    font-size: 25px;
    font-weight: bold;
}

.icons a {
    margin-left: 20px;
}

.icons i {
    color: #4d4d4d;
}

/* === RESPONSIVE === */
@media (max-width: 650px) {
    .container {
        width: 90%;
    }

    header a {
        font-size: 46px;
    }

    .content,
    .content h1,
    .content p,
    footer {
        width: 100%;
    }

    .content h1 {
        font-size: 56px;
    }

    .Info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
    }

    .premium_EQ {
        width: 100%;
        transform: none;
    }

    .image {
        transform: translate(0, -150px);
        position: relative;
    }

    .art1,
    .art2,
    .art3,
    .art4,
    .art5,
    .art6,
    .art7 {
        display: none;
    }

    .art8 {
        top: 38%;
        left: 58%;
    }

    .art9 {
        top: 45%;
        left: 58%;
    }
}

@media (min-width: 651px) and (max-width: 730px) {
    .container {
        width: 90%;
    }

    .content {
        width: 80%;
    }

    .content h1 {
        font-size: 50px;
        width: 70%;
    }

    .content p {
        width: 90%;
    }

    .art1 {
        width: 115px;
        height: 115px;
        top: 120px;
        right: 145px;
        z-index: 1;
    }

    .art2 {
        top: -1%;
        right: 115px;
        width: 175px;
        height: 100px;
        border-radius: 50px 50px 0 0;
        rotate: 270deg;
    }

    .art3 {
        top: -2.5%;
        right: 0;
        width: 150px;
        height: 140px;
        border-radius: 75px;
    }

    .art5 {
        top: 125px;
        right: 65px;
        width: 80px;
        height: 80px;
    }

    .art6 {
        top: 96px;
        right: 5px;
        width: 140px;
        height: 140px;
    }

    .art7,
    .art8,
    .art9 {
        display: none;
    }

    .Info {
        position: relative;
    }

    .premium_EQ {
        position: absolute;
        right: -20px;
        width: 285px;
        padding: 35px;
    }

    .image img {
        height: 480px;
        width: 250px;
    }
}

@media (min-width: 731px) and (max-width: 992px) {
    .container {
        width: 90%;
    }

    .content {
        width: 65%;
    }

    .content h1 {
        font-size: 50px;
        width: 100%;
    }

    .content p {
        width: 89%;
    }

    .art1 {
        width: 150px;
        height: 150px;
        top: 160px;
        right: 190px;
    }

    .art2 {
        top: -1.5%;
        right: 150px;
        width: 230px;
        height: 130px;
        border-radius: 65px 65px 0 0;
    }

    .art3 {
        top: -4%;
        right: 0;
        width: 200px;
        height: 190px;
        border-radius: 95px;
    }

    .art5 {
        top: 165px;
        right: 85px;
        width: 100px;
        height: 100px;
    }

    .art6 {
        top: 130px;
        right: 8px;
        width: 180px;
        height: 180px;
    }

    .premium_EQ {
        position: absolute;
        right: 25px;
        width: 300px;
        padding: 35px;
    }

    .image img {
        height: 480px;
        width: 250px;
        z-index: 2;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .content {
        width: 90%;
    }

    .content h1 {
        font-size: 56px;
        width: 80%;
    }

    .content p {
        width: 70%;
    }

    .art1 {
        width: 150px;
        height: 150px;
        top: 160px;
        right: 190px;
    }

    .art2 {
        top: -1.5%;
        right: 150px;
        width: 230px;
        height: 130px;
        border-radius: 65px 65px 0 0;
    }

    .art3 {
        top: -4%;
        right: 0;
        width: 200px;
        height: 190px;
        border-radius: 95px;
    }

    .art5 {
        top: 165px;
        right: 85px;
        width: 100px;
        height: 100px;
    }

    .art6 {
        top: 130px;
        right: 8px;
        width: 180px;
        height: 180px;
    }
}

@media (min-width: 1201px) {
    .container {
        width: 90%;
    }

    .content {
        width: 90%;
    }

    .content h1 {
        font-size: 66px;
        width: 80%;
    }

    .content p {
        width: 70%;
    }

    .art1 {
        width: 230px;
        height: 230px;
        top: 237px;
        right: 280px;
    }

    .art2 {
        top: -2.5%;
        right: 220px;
        width: 360px;
        height: 200px;
        border-radius: 100px 100px 0 0;
    }

    .art3 {
        top: -5%;
        right: 0;
        width: 300px;
        height: 280px;
        border-radius: 150px;
    }

    .art5 {
        top: 255px;
        right: 120px;
        width: 160px;
        height: 160px;
    }

    .art6 {
        top: 194px;
        right: 1.2px;
        width: 280px;
        height: 280px;
    }
}